{% load staticfiles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{ SITE_NAME }}- 导航页</title>
<meta name="keywords" content="{{ SITE_KEY }}" />
<meta name="description" content="{{ SITE_DESC }}" />
<link rel="shortcut icon" href="{% static 'gateway/menhu.png' %}" />
<link rel="stylesheet" href="{% static 'gateway/css/iconfont.css' %}">
<!-- <link rel="stylesheet" href="../plug-in/normalize.css"> -->
<link rel="stylesheet" href="{% static 'gateway/css/style.css' %}">