{% extends 'gateway/base.html' %}
{% load staticfiles %}
{% block body %}
    <!-- 实用工具 -->
    <div class="box">
        <a href="" name="yaoling"></a>
        <div class="sub-category">
            <div><i class="iconfont icon-tool"></i>本站导航</div>
        </div>
        <div>
            <a target="_blank" href="{% url 'accounts:home' %}">
                <div class="item">
                    <div class="no-logo">瑶玲之家 - 个人中心</div>
                </div>
            </a>
            <a target="_blank" href="{% url 'dmhy:index' %}">
                <div class="item">
                    <div class="no-logo">瑶玲之家 - 动漫中心</div>
                </div>
            </a>
            <a target="_blank" href="{% url 'qiandao:date' %}">
                <div class="item">
                    <div class="no-logo">瑶玲之家 - 签到系统</div>
                </div>
            </a>
        </div>
    </div>
    {% if categorys and guides %}
        {% for category in categorys %}
            <!-- {{ category.name }} -->
            <div class="box">
                <a href="#" name="{{ category.name }}"></a>
                <div class="sub-category">
                    <div><i class="iconfont icon-shequ"></i>{{ category.name }}</div>
                </div>
                <div>
                    {% for guide in guides %}
                        {% if category == guide.category %}
                            <a target="_blank" href="{{ guide.callback_url }}">
                                <div class="item">
                                    <div class="logo"><img src="{{ guide.img.url }}" alt="CNDS"> {{ guide.title }}</div>
                                    <div class="desc">{{ guide.description }}</div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}