<!-- footer.html -->
{% load staticfiles %}
<footer>
    <div class="uk-container uk-margin-top uk-text-center">
        <p>Copyright © 2019- 2050 {{ SITE_NAME }} - 動漫愛好者的自由交流平台</p>
        <p><a href="http://www.yaoling.ltd" target="_blank" title="{{ SITE_NAME }}-动漫花园镜像">{{ SITE_NAME }}</a> | <a href="https://tieba.baidu.com/f?kw=%E5%8A%A8%E6%BC%AB%E8%8A%B1%E5%9B%AD&ie=utf-8" target="_blank" title="动漫花园吧">动漫花园吧</a></p>
    </div>
</footer>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?60b50a92d03c3357c27e5496f4a0d791":"https://jspassport.ssl.qhimg.com/11.0.1.js?60b50a92d03c3357c27e5496f4a0d791";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>