{% load staticfiles %}
<div class="uk-container uk-margin-large-top uk-text-center">
    <div class="logo">
        <a href="{% url 'dmhy:index' %}"><img src="{% static 'dmhy/image/dongman.png' %}" class="uk-align-center"></a>
    </div>
    <div class="search">
        <div class="search_box">
            <form class="uk-search uk-search-default uk-width-large uk-width-1-2" action="{% url 'dmhy:search' %}" method="get">
                {% csrf_token %}
                <button type="submit" class="uk-search-icon-flip" uk-search-icon></button>
                <input class="uk-search-input" type="search" placeholder="搜素动漫" name="key">
            </form>
        </div>
    </div>
</div>