<!-- header.html -->
{% load staticfiles %}
<title>妖神记下载的全部内容 ，动漫花园资源网-动漫花园镜像站~動漫花園資源網 - 動漫愛好者的自由交流平台</title>
<meta name="keywords" content="妖神记,妖神记下载,妖神记在线观看,妖神记大全,动漫花园,动漫花园主站,动漫花园备份,动漫花园镜像站,動漫花園資源網,動漫愛好者的自由交流平台" />
<meta name="description" content="動漫花園資源網,動漫愛好者的自由交流平台，本站为动漫花园镜像站，本站不存储发布任何种子资源，仅提供搜索及动漫花园快照内容" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'dmhy/css/uikit.min.css' %}" />
<link rel="stylesheet" href="{% static 'dmhy/css/main.css' %}" />
<script src="{% static 'dmhy/js/push.js' %}"></script>
<script src="{% static 'dmhy/js/uikit.min.js' %}"></script>
<script src="{% static 'dmhy/js/uikit-icons.min.js' %}"></script>
<script src="{% static 'dmhy/js/clipboard.min.js' %}"></script>