<!-- header.html -->
{% load staticfiles %}
<title>{{ SITE_NAME }} - 動漫愛好者的自由交流平台</title>
<meta name="keywords" content="{{ SITE_KEY }}" />
<meta name="description" content="{{ SITE_DESC }}" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static 'dmhy/image/dongman.png' %}" />
<link rel="stylesheet" href="{% static 'dmhy/css/uikit.min.css' %}" />
<link rel="stylesheet" href="{% static 'dmhy/css/main.css' %}" />
<script src="{% static 'dmhy/js/push.js' %}"></script>
<script src="{% static 'dmhy/js/uikit.min.js' %}"></script>
<script src="{% static 'dmhy/js/uikit-icons.min.js' %}"></script>
<script src="{% static 'dmhy/js/clipboard.min.js' %}"></script>