<! -- tieba-footer -->
{% load staticfiles %}
<p class="clear">
    <span class="fl">Copyright © 2019- 2050 <a href="http://www.yaoling.ltd" title="{{ SITE_NAME }}" target="_blank">{{ SITE_NAME }}</a></span>
    &nbsp;&nbsp;{{ STATISTICS | safe }}
    <span class="fr text-info">
        <em class="uppercase">
            <i class="icon-user"></i>
            author:Andy
        </em> |
        <em class="uppercase"><i class="icon-envelope-alt"></i>
            友情链接： <a href="http://www.yaoling.ltd" target="_blank">{{ SITE_NAME }}</a>
        </em>
        <a onclick="reciprocate()" class="text-primary"><i class="icon-qrcode"></i>捐赠</a>
    </span>
</p>