<!-- tieba-header.html -->
{% load staticfiles %}
{% if request.user.is_authenticated %}
<div class="hd-lt">
    <a class="icon-reorder"></a>
</div>
<div class="hd-rt">
    <ul>
        <li>
            <a href="{% url 'accounts:home' %}" target="_blank"><i class="icon-home"></i>个人中心</a>
        </li>
        <li>
            <a><i class="icon-user"></i>
                {% if group in '超级用户' %}
                    {{ group }}
                {% elif group in '游客' %}
                    {{ group }}
                {% else %}
                    {% for g in group %}
                        | {{ g }} |
                    {% endfor %}
                {% endif %}:
                <em>{{ request.user }}</em>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" id="JsSignOut"><i class="icon-signout"></i>安全退出</a>
        </li>
    </ul>
</div>
{% endif %}